<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/my-polls.css">
    <script src="js/myAccount.js" defer></script>
    <title>My Polls</title>
</head>
<body>
    <%- include('./layouts/nav.ejs') %>

    <section class="content">
    <img src="<%= img %>", alt="" class='avatar'>
      <p id="poll-username" class="profile-info">Username: <%= username %></p>
      <p id="polls-created" class="profile-info">Polls Created: <%= pollsCreated.length%></p>
      <p id="date-created" class="profile-info">Date Created <%= date.toDateString() %></p>
      <h1>My Polls</h1>
      
      <div class="polls">
        <% if (pollsCreated.length === 0){ %>
          <p>Click on the yellow plus button to create a poll!</p>
        <% } %>
        <% for (poll in pollsCreated){ %>
          <div class="poll">
            <h3 class="poll-title"><%= pollsCreated[poll].title %></h3>
            <p class="poll-description"><%= pollsCreated[poll].description %></p>
          </div>
        <% } %>
      </div>
    </section>

    <%- include('./layouts/plus.ejs') %>
</body>
</html>