<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/browse.css">
    <title>New Polls</title>
</head>
<body>
    <%- include('./layouts/nav.ejs') %>
    <section class="content">
      <div class="search-head">
        <form action="/search" method='POST'>
          <input type="text" id="searchbar" class="searchbar" placeholder='Search' name='query'>
          <img src="https://image.flaticon.com/icons/svg/622/622669.svg" alt="" class="search-after">
          <div class="border-between"></div>
          <img id="x" class="search-after" src='https://image.flaticon.com/icons/svg/1828/1828778.svg'>
        </form>
      </div>
      <div class="polls">
        <% if (rows.length === 0){ %>
          <!-- CHANGE TO NO MATCHES FOUND FOR <%// QUERY %> -->
          <h1>No matches found for "<%= rows %>"</h1>
        <% } %>
        <% for (row in rows){ %>
          <% var rowData = rows[row] %>
          <div class="poll" id='<%= rowData._id %>'>
            <h3 class="poll-title"><%= rowData.title %></h3>
            <div class="options">
              <% var allOptionsData = rowData.options %>
              <% var options = Object.keys(rowData.options) %>
              <% for (opt in options){ %>
                <% var optName = options[opt] %>
                <form action="/vote" method='post' class="option">
                  <button class="option-btn" value='<%= `ID:${rowData._id};OPTION:${optName}` %>' name= 'options'><%= optName %></button>
                  <p class="poll-vote">Votes: <%= allOptionsData[optName].votes %></p>
                </form>
              <% } %>
            </div>
            <div class="poll-footer">
              <p class="poll-description"><%= rowData.description %></p>
              <p class="poll-description">Creator: <%= rowData.creator %></p>
            </div>
          </div>
        <% } %>
      </div>
    </section>
    <%- include('./layouts/plus.ejs') %>
</body>
</html>