doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/my-polls.css')
  script(src='js/myAccount.js' defer='')
  title My Polls
nav
  a.brand(href='/') Polar
  a(href='/browse') Browse Polls
  a(href='/account') My Account
section.content
  img.avatar(src= img)
  p#poll-username.profile-info Username: #{username}
  p#polls-created.profile-info Polls Created: #{pollsCreated.length}
  p#date-created.profile-info Date Created: #{date}
  h1 My Polls
  .polls
    if pollsCreated.length === 0
      p Click on the yellow plus button to create a poll!
    each poll in pollsCreated
      .poll
        h3.poll-title= poll.title
        p.poll-description= poll.description

a.wrapper(href='/create-poll')
  .plus-btn
    .line.line1
    .line.line2
