<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header') -%>
<body>
    <!-- nav -->
    <%- include('./layouts/nav') %>
    <section class="banner">
        <img src="/img/logo.png" alt="" class='banner-logo'>
    </section>
    <section class="articles">
        <% for (i in posts) { %>
            <% var post = posts[i] %>
            <article>
                <img src="<%= post.image %>" alt="">
                <div class="more">
                    <h1 class="article-title">
                        <a href="/"><%= post.title %></a>
                    </h1>
                    <div class="data">
                        <p class="date"><%= post.date.toDateString() %></p>
                    </div>
                </div>
            </article>
        <% } %>
    </section>
    <%- include('./layouts/footer') %>
</body>
</html>