<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header') -%>
<body>
    <!-- nav -->
    <%- include('./layouts/nav') %>
    <section class="banner">
        <img src="/img/logo.png" alt="" class='banner-logo'>
    </section>
    <section class="articles">
        <article>
            <img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Packages-Roundtable_Watermarked.84822c05e353.jpg&w=960&sig=243e2240208a0686a15655c36c3ed0f0853d7ea5" alt="" class='thumbnail'>
            <div class="more">
                <h1 class="article-title">
                    <a href='#'>Python import: Advanced Techniques and Tips</a>    
                </h1>
                <div class="data">
                    <p class="date"><%= Date().split(' ').slice(0, 4).join(' ') %></p>
                </div>
            </div>
        </article>
        <article>
            <img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/K-Means-Clustering-in-Python_Watermarked.14dc56523461.jpg&w=960&sig=f8078405eb6cf42e8cddc6349f592f0ce2a3d15b" alt="" class='thumbnail'>
            <div class="more">
                <h1 class="article-title">
                    <a href='#'>K-Means Clustering in Python: A Practical Guide</a>
                </h1>
                <div class="data">
                    <p class="date"><%= Date().split(' ').slice(0, 4).join(' ') %></p>
                </div>
            </div>
        </article>
        <article>
            <img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Pandas-Project-Make-a-Gradebook-With-Pandas_Watermarked.a9392abb8afa.jpg&w=960&sig=f416d4b0c0d60a51940c443c769e1a12c30ca1ff" alt="" class='thumbnail'>
            <div class="more">
                <h1 class="article-title">
                    <a href='#'>Pandas Project: Make a Gradebook With Python & Pandas</a>
                </h1>
                <div class="data">
                    <p class="date"><%= Date().split(' ').slice(0, 4).join(' ') %></p>
                </div>
            </div>
        </article>
        <article>
            <img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Working-with-IP-Addresses-in-Python_Watermarked.49dd91dbf299.jpg&w=960&sig=aa24be5d666e5d165eddf994a575fc046fc51fd7" alt="" class='thumbnail'>
            <div class="more">
                <h1 class="article-title">
                    <a href='#'>Learn IP Address Concepts With Python's ipaddress Module</a>
                </h1>
                <div class="data">
                    <p class="date"><%= Date().split(' ').slice(0, 4).join(' ') %></p>
                </div>
            </div>
        </article>
        <article>
            <img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/Object-Oriented-Programming-OOP-in-Python-3_Watermarked.0d29780806d5.jpg&w=960&sig=b47969c1efe592512c6b037f04417bdc92e791d1" alt="" class='thumbnail'>
            <div class="more">
                <h1 class="article-title">
                    <a href='#'>Object-Oriented Programming (OOP) in Python 3</a>
                </h1>
                <div class="data">
                    <p class="date"><%= Date().split(' ').slice(0, 4).join(' ') %></p>
                </div>
            </div>
        </article>
    </section>
    <%- include('./layouts/footer') %>
</body>
</html>